@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');

body {
    background-image: linear-gradient(to bottom, #ffaa00, #00ffff);
    height: 100vh;
    overflow: hidden;
}

p {
    font-family: "quicksand";
}

h1 {
    font-family: "quicksand";
}

h2 {
    font-family: "quicksand";
}

h3 {
    font-family: "quicksand";
}

.logo {
    padding: 10px;
}

a {
    color: white;
    text-decoration: none;
}